<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="shared/header :: header-css"/>
    <title>Ups! Wystąpił Błąd!</title>
</head>
<body>
<div th:replace="shared/header :: header('error')"/>

<main class="grey darken-4">

    <div>
        <h1 class="white-text">Błąd!</h1>
        <div class="white-text">
            Wiadomość: <span th:text="${message}"></span></br>
            Wyjątek: <span th:text="${exception}"></span></br>

            StackTrace: <span th:text="${stackTrace}" ></span>
        </div>
    </div>
</main>
<div th:replace="shared/footer :: footer"></div>
</body>
</html>